.banner {
  text-align: center;
  height: 200px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}
.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 500;
}
.footer {
  text-align: center;
  background: ghostwhite;
  height: 200em;
  padding-top: 2em;
  font-size: small;
}
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #337ab7;
}