<!DOCTYPE html><html class="no-js" lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>What is the answer?</title><meta name="author" content="Pat Leahy"><meta name="robots" content="index,follow"><meta name="googlebot" content="index,follow"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="canonical" href="http://what-is-the-answer.com"><link rel="shortcut icon" type="image/ico" href="./favicon.ico"><link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"><link rel="stylesheet" href="./css/site.css"></head><body><div class="banner"><div class="banner-head"><div id="answer">{{answer}}</div></div></div><div class="footer">Created by
<a href="http://patleahy.com">Pat Leahy.</a>
You can also use the
<a href="api">API</a>.</div><script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script><script>// Simple component which calls the API and then updates data.answer.
//
new Vue({
  el: '#answer',

  data: {
    answer: ""
  },

  created: function () {
    this.whatIsTheAnswer();
  },

  methods: {
    whatIsTheAnswer: function () {
      var vm = this;
      fetch('api')
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          vm.answer = data.answer;
        })
    }
  }
});
</script></body></html>
